body {
color:blue;
background: black;
margin: 0px;
}

header {
    border: solid 2px rgb(122, 42, 228); 
    padding: 23px;
    font-size: 33px;
    color: rgb(122, 42, 228)
}

section{
    background: rgb (184, 156, 213);
}